<div [hidden]="hidden" class="lista--container">
    <div class="lista--container--scrollable">
        <ul id="seletor-local-options" class="lista--continente--titulo">
            <li *ngFor="let continente of lista">
                <p class="seletor-local-separador" (click)="selecionar(continente)">{{continente.nome[idioma]}}</p>
                <ul class="lista--pais--titulo">
                    <li *ngFor="let pais of continente.paises[idioma]">
                        <a [routerLink]="['/', idioma, '/pais', pais.slug]">
                            {{pais.nome[idioma]}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>