.seletor-local-filtro {
    display: flex;
    flex-direction: row;
}

.hidden {
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.layout--container{
    width: 100%;
    /*margin: 20px;*/
    box-sizing: boder-box;
    }
    .layout--container--child{
        width: 100%;
        box-sizing: inherit;
    }
